@import url('http://fonts.googleapis.com/css?family=Damion');
@import url('http://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@keyframes borderMain 
{
    0%   {box-shadow: 0px 0px 1px 1px red;}
    50%  {box-shadow: 0px 0px 5px 3px red;}
    100% {box-shadow: 0px 0px 1px 1px red;}
}

body 
{
	background: black;
    color:white;
}

h1, h2
{
    font-family: "Damion";
    margin: 10px;
}

maindiv
{
    margin-top: 20px;
    max-width:  650px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    border: 3px solid red;
    border-radius: 20px;  
    margin:auto;
    transition: 1s;
    animation-name: borderMain;
    animation-duration: 2s;
    animation-iteration-count:  infinite;
}

a:link
{
    color:aqua;
}

a:visited
{
    color:limegreen;
}

a:hover
{
    color: red;
}

fixedLink
{
    position:fixed;
    top: 0px;
    right: 0px;
    padding: 15px;
    background: radial-gradient(gray, black);
    border-bottom-left-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 1.15em;
    box-shadow: inset 1px -1px 8px 0px  #ffffff;
    opacity: 0.8;
    z-index:1;
}

fixedLink:hover
{
    opacity: 1.0;
}