@import url("../../common/css/common_style.css");
@import url("../../common/css/normalize.min.css");

h1
{
    color:yellow;
    font-family: none;
}

.mainDiv
{
    max-width: 90%;
}

iframe
{
    width:100%;
}

.button
{
    width: 100%;
}