@import url("../../common/css/common_style.css");
@import url("../../common/css/normalize.min.css");

@media (max-width: 361px)
{    
    header input
    {
        margin-left: -20px;        
    }
    
    .hide-on-small-screen
    {
        font-size: 0;

    }    
}

@media (max-height: 480px)
{     
    body
    {
        margin-top: -100px;
    }
    
    .fixedLink
    {
        margin-right: -135px;
        margin-top: -20px;
        background: lime;
        color: lime;
    }
    
    .fixedLink:hover, .fixedLink:focus
    {
        background: radial-gradient(gray, black);
        margin-right: 0;
        margin-top: 0;
        opacity: 1.0; 
    }
    
    a:link
    {
        color:aqua;
    }

    a:visited
    {
        color:lime;
    }

    a:hover,  a:focus
    {
        color: red;
    }
}

body
{
    transition :2s;
}

.mainContainer
{
    max-width: 1400px;
    margin:auto; 
    width: 90%;
}

.mainDiv
{
    max-width: 1400px;
    margin-top:25px;
    min-width: 200px;
    margin-bottom: 50px;
}

h1, h2
{
    color:red;
}

h1
{
    font-size: 3em;
}

.hide-on-small-screen
{
    font-weight: bold;
    font-family:inherit;
    color:red;
    margin-right: 20px;
}


header
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


header input:nth-of-type(1)
{
    background-color:red;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px red;
    padding: 3px;
    width: 80%;
    color: black;
    font-weight: bold;
}

::-webkit-input-placeholder {
   color: rgba(0,0,0,0.3);
   font-weight: bold;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(0,0,0,0.3);
   font-weight: bold;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0,0,0,0.3);
   font-weight: bold;
}

article
{
  display: flex;
  align-items: center;
  justify-content:center;    
  margin-bottom: 10px;
  margin-left: 20px;
  min-width: 30em;
  max-width: 100%;    
}

article *
{
    transition: 0.5s;
}

article input:hover, article input:focus
{
    box-shadow: 0px 0px 10px 3px white;
}

.text:hover
{
    background-color:dimgray;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-radius: 3px;    
}

article img:hover,article img:focus
{
   box-shadow: 0px 0px 15px 3px white;
   background: white;
   border-radius: 8px;    
}

.text
{
    box-sizing: border-box;
    flex: 1;
    max-width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 15px;
    padding: 4px;
}

#donelist article .text:focus
{
    color: black;
    background-color: white;
    border-radius: 4px;
    border: none;
}

#todolist article .text:focus
{
    color: black;
    background-color: white;
    border-radius: 4px;
    border: none;
}

img
{
   width: 15px;
   height: 15px;
}

#donelist
{
    text-decoration: line-through;
    color: red;
    opacity: 0.5;
}

#donelist *
{
    color:white;
}

#todolist:empty::after
{   
    content: "Veuillez entrer une nouvelle tâche à faire svp!";
    color: lawngreen;
    font-style: italic;
    font-family: serif;
    text-align: center;
    display: flex;
    justify-content: center;
}

.buttons
{
    position:fixed;
    bottom: 0;
    display: flex;
    width: 100vw;
    background-color:white;
    opacity: 0.7;
    transition: 1s;
}

.buttons button
{
    flex: 1;
    mix-blend-mode: difference;
    color: aqua;
    transition: 1s;
}

.buttons img, .buttons input
{
    margin-right: 5px;  
}

.buttons:hover
{
    opacity: 1;
}

.buttons button:hover, .buttons button:focus
{
    text-shadow: 0px 0px 20px #00ffff;
    color: #0044ff;
}

.buttons button:disabled
{
    display:none;
}

.fixedLink
{
   transition: 2s; 
}

.hide-on-small-screen
{
    transition: 1.5s;
}

header input
{
    transition: 2s;
}

.alltasks, #todolist
{
    margin: auto;
    max-width: 100%;
}

